<!doctype html>
<html lang="en" ng-app="application">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cambridge Risk Framework</title>

    <link href="assets/css/app.css" rel="stylesheet" type="text/css">
    <script src="//use.typekit.net/pwk4ort.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <script src="assets/js/foundation.js"></script>
    <link rel="stylesheet" href="assets/libs/leaflet.css">
    <link rel="stylesheet" href="assets/libs/magnific-popup.css">
    <script src="assets/js/libs/leaflet-0.7.2/leaflet.js"></script>
    <script src="assets/js/libs/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    <script src="https://www.google.com/jsapi"></script>
    <script>
        google.load("visualization", "1", {packages:["corechart"]});
    </script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/services/utils-service.js"></script>
    <script src="assets/js/services/http-service.js"></script>
    <script src="assets/js/services/filters.js"></script>
    <script src="assets/js/controllers/projects-controller.js"></script>
    <script src="assets/js/directives/visualisation-directive.js"></script>
    <script src="assets/js/directives/navigation-directive.js"></script>
</head>
<body ng-class="state.bodyClass">
    <div class="grid-frame" ui-view="content"></div>
    <zf-notification-set id="main-notifications" position="top-right"></zf-notification-set>
    <div class="project-modal">
        <aside id="loading-modal" class="modal is-active">
            <div class="image-wrapper">
                <img ng-src="{{modal.projectSummary.image}}" alt=""/>
            </div>
            <div class="modal-content">
                <h1 ng-bind="modal.projectSummary.name"></h1>
                <div class="loadingState" ng-if="modal.projectStatus.project != 'loaded' || modal.projectStatus.content != 'loaded' || modal.projectStatus.visualisations.loaded < modal.projectStatus.visualisations.pending">
                    <p ng-if="modal.projectStatus.project == 'loading'">Initialising...</p>
                    <p ng-if="modal.projectStatus.content == 'loading'">Loading...</p>
                    <div ng-if="modal.projectStatus.project == 'loaded' && modal.projectStatus.content == 'loaded'">
                        <div ng-if="modal.projectStatus.visualisations.loaded < modal.projectStatus.visualisations.pending">
                            <p><span ng-bind="modal.projectStatus.visualisations.loaded"></span> of <span ng-bind="modal.projectStatus.visualisations.pending"></span> loaded... <a ng-click="closeModal()"> Continue &rarr;</a></p>
                        </div>
                    </div>
                </div>
                <h4 class="description" ng-bind="modal.projectSummary.description"></h4>
                <a class="info-link" ng-if="modal.projectSummary.helplinkurl" ng-href="{{modal.projectSummary.helplinkurl}}" ng-bind="modal.projectSummary.helplinklabel" target="_blank"></a>
                <p class="copyright-message" ng-bind-html="modal.projectSummary.copyrightmessage"></p>
            </div>
        </aside>
    </div>
</body>
</html>