<div class="legend-wrapper">
    <button class="legend-button" ng-click="showLegend = !showLegend" ng-bind="showLegend ? 'Hide legend' : 'Show legend'">Show legend</button>
    <section id="legend" ng-show="showLegend">
        <h3 ng-bind="data.legendtitle"></h3>
        <ul>
            <li ng-repeat="legend in data.nodestyles">
                <svg ng-attr-width="{{ maxNodeSize * 6 }}" ng-attr-height="{{ maxNodeSize * 6 }}">
                    <circle ng-attr-r="{{ legend.size * 3 }}" ng-attr-cx="{{ maxNodeSize * 3 }}" ng-attr-cy="{{ maxNodeSize * 3 }}" ng-attr-fill="{{ legend.fillColor}}"></circle>
                </svg>
                {{ legend.legendLabel }} {{data.nodestyles.length-1}}
            </li>
        </ul>
    </section>
</div>