$color-background       : #1c1c1c;
$color-toolbar-light    : #28282a;
$color-toolbar-dark     : #202020;
$color-toolbar-edge     : #414141;
$color-toolbar-button   : #3e3e40;
$color-light-grey       : #dfe0e7;
$color-dark-grey        : #757678;
$color-light-red        : #de3838;
$color-dark-red         : #c81f1f;
$color-white            : #ffffff;
$color-offwhite         : #eeeeee;
$color-black            : #111111;
$color-highlight        : #f26262;
$color-selected-node    : #ffff00;

@import "font-awesome";
@import "select";

@import "settings";
@import "foundation";
@import "global";

html, body {
    width: 100%;
}

body {
    background-color: $color-background;
    color: $color-light-grey;
    font-family: "museo-sans", "sans-serif";
    font-weight: 300;
}
a {
    color: $color-light-grey;
    transition-property: all;
    transition-duration: 0.2s;

    &:hover {
        color: $color-white;
    }
    &:focus {
        color: $color-light-grey;
        outline: none;
    }
}

h1, h2, h3, h4 {
    color: $color-light-grey;
}
h1 {
    font-size: rem-calc(22);
}
h2 {
    font-size: rem-calc(20);
}
h3 {
    font-size: rem-calc(18);
}
h4 {
    font-size: rem-calc(16);
}
p {
    font-size: rem-calc(15);
}
.right-align {
    float: right;
    display: block;
}
.crs-logo {
    height: 36px;
    width: auto;
    margin: 14px 10px 12px;

    img {
        height: 100%;
    }
}
nav {
    ul {
        margin: 0;
        padding: 0;
    }
    &.project-navigation {
        .project-list {
            padding: rem-calc(5);

            .project-tile {
                position: relative;
                padding: 0;

                .project-link {
                    width: 100%;
                    height: 100%;
                    display: block;
                    opacity: 0.9;
                    padding: rem-calc(8);

                    .project-thumbnail {
                        width: 100%;
                        height: auto;
                        margin-bottom: 0.6rem;
                    }
                    h2 {
                        font-size: rem-calc(20);
                        color: $color-white;
                    }
                    p {
                        color: $color-white;
                    }
                    &:hover {
                        transition-property: all;
                        transition-duration: 0.2s;
                        opacity: 1;
                    }
                }
            }
        }
    }
    &.section-navigation {
        color: $color-toolbar-dark;
        display: block;
        float: left;
        max-width: 100%;
        width: auto;
        min-width: 420px;

        .section-dropdown {
            padding: 0 rem-calc(82) 0 0;
            overflow: hidden;
            position: relative;
            margin: rem-calc(10) rem-calc(15);
            height: rem-calc(40);

            .ui-select-container {
                display: block;
            }
            .selected-section {
                color: $color-white;
                display: block;
                margin-right: 40px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                word-wrap: break-word;
            }
            .prev-link, .next-link {
                width: rem-calc(40);
                height: rem-calc(40);
                position: relative;
                background-color: $color-toolbar-button;
                margin-left: 1px;

                a {
                    display: block;
                    width: rem-calc(40);
                    height: rem-calc(40);
                    position: relative;
                    text-indent: -99999px;

                    &:after {
                        @include fa-icon();
                        color: $color-light-grey;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        font-size: 20px;
                        line-height: 40px;
                        text-align: center;
                        text-indent: 0;
                    }
                    &:hover {
                        &:after {
                            color: $color-white;
                        }
                    }
                    &.disabled {
                        &:after {
                            color: $color-black;
                        }
                    }
                }
            }
            .prev-link {
                position: absolute;
                top: 0;
                right: rem-calc(41);

                a:after {
                    content: $fa-var-angle-left;
                }
            }
            .next-link {
                position: absolute;
                top: 0;
                right: 0;

                a:after {
                    content: $fa-var-angle-right;
                }
            }
        }
        ul.section-list {
            background-color: $color-toolbar-button;
            padding: 0;
            overflow: hidden;
            position: relative;
            margin: rem-calc(10);
            height: rem-calc(40);

            li {
                overflow: hidden;
                height: rem-calc(40);
                width: 100%;
                display: none;

                &.active {
                    display: block;
                }
                a {
                    font-size: rem-calc(12);
                    line-height: 20px;
                    padding: 10px;
                    display: block;

                    &.active {
                        color: $color-highlight;
                    }
                }
            }
        }
    }
    &.phase-navigation {
        background-color: $color-toolbar-dark;
        border-top: 1px solid $color-toolbar-edge;

        .phase-controls {
            margin-right: 40px;
        }
        .phase-control {
            display: block;
            height: rem-calc(35);
            width: rem-calc(35);
            padding: 15px;
            box-sizing: content-box;
            text-align: center;
            font-size: 20px;
            border: 1px solid #333437;
            background-color: $color-toolbar-button;

            i {
                display: block;
                width: 100%;
                height: 100%;
                line-height: rem-calc(30);
            }
            &.next-phase, &.prev-phase {
                font-size: rem-calc(30);
            }
            &.play-phases {
                font-size: rem-calc(16);

                i {
                    border: 2px solid;
                    border-radius: rem-calc(32);
                    margin: -2px;
                    line-height: rem-calc(34);
                    text-indent: 2px;
                }
            }
        }
        ul {
            height: 40px;
            margin: 20px;
            overflow: visible;

            li {
                border-top: 4px solid $color-toolbar-button;
                position: relative;
                overflow: visible;
                margin: 0;
                padding: 0;
                transition-property: all;
                transition-duration: 0.6s;

                a {
                    margin: 0 8px 0 -8px;
                    padding: 8px 0;
                    color: $color-dark-grey;
                    transition-property: all;
                    transition-duration: 0.3s;
                    overflow: visible;
                    width: 100%;

                    span {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    &:after {
                        content: ' ';
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 12px;
                        height: 12px;
                        border: 3px solid $color-toolbar-button;
                        background-color: $color-black;
                        margin: -8px;
                        border-radius: 6px;
                        transition-property: all;
                        transition-duration: 0.3s;
                    }
                    &:hover {
                        color: $color-white;

                        &:after {
                            background-color: $color-white;
                        }
                    }
                    &.active {
                        color: $color-white;

                        &:after {
                            border-color: $color-white;
                            background-color: $color-white;
                            width: 20px;
                            height: 20px;
                            margin: -11px;
                            border-radius: 10px;
                            border-width: 0;
                        }
                    }
                }
                &.highlight {
                    border-color: $color-highlight;

                    a {
                        color: $color-light-grey;

                        &:hover {
                            color: $color-white;
                        }
                        &:after {
                            border-color: $color-highlight;
                        }
                    }
                }
                &.last {
                    border-color: transparent;
                }
            }
        }
    }
}

.visualisation-container {
    background: #003d45;

    .visualisation-content {
        border: 1px solid $color-black;
        border-right: none;
    }
    .graphs .visualisation-content {
        background-color: #003d45;

        .nodeSelected {
            svg {
                circle, path {
                    transition-property: all;
                    transition-duration: 0.3s;
                    opacity: 0.5;
                }
                .selected {
                    circle {
                        stroke: $color-selected-node;
                        stroke-width: 3px;
                        opacity: 1;
                    }
                }
            }
        }

    }
    .charts .visualisation-content {
        background-color: black;
    }
    .maps .visualisation-content {
        background-color: #e7eaf3;

        .leaflet-container.selected .leaflet-overlay-pane {
            svg {
                circle, path {
                    transition-property: all;
                    transition-duration: 0.3s;
                    opacity: 0.5;
                }
                .selected {
                    stroke: $color-selected-node;
                    stroke-width: 3px;
                    opacity: 1;
                }
            }
        }
    }
    .layers .visualisation-content {
        background-color: $color-toolbar-dark;
    }
    .visualisation {
        margin: 0;
        background: $color-toolbar-light;
        padding: 6px 0;

        svg {
            path.link {
                fill-opacity: 0;
            }
        }
        .leaflet-container {
            background-color: transparent;
        }
    }
    .visualisation-grid {
        border-bottom: 1px solid $color-black;

        &.multiple {
            .visualisation.active.layers {
                min-width: 30%;
                max-width: 30%;
            }
        }
    }
    .visualisation-grid-2 {
        .visualisation.active {
            min-width: 45%;
        }
    }
    .visualisation-grid-3 {
        .visualisation.active {
            min-width: 30%;
        }
    }
    .visualisation-grid-4 {
        .visualisation.active {
            min-width: 20%;
        }
    }
}
.info-panel,
.visualisation {
    .panel-toggle {
        -moz-opacity: 0.3;
        -webkit-opacity: 0.3;
        opacity: 0.3;

    }
    &.active {
        .panel-toggle {
            -moz-opacity: 1;
            -webkit-opacity: 1;
            opacity: 1;

        }
    }
}
.sliding-panel {
    border-left: 2px solid $color-black;
}
.network-graph,
.crs-map,
.crs-chart,
.crs-graph,
.crs-datalist{
    overflow: hidden;
}
.panel-toolbar {
    h2 {
        margin: 0;
        padding: rem-calc(10) 0;
        line-height: rem-calc(20);
        font-size: rem-calc(20);
    }
    .panel-icon {
        width: rem-calc(40);
        height: rem-calc(40);
        max-width: rem-calc(40);
        max-height: rem-calc(40);
        padding: rem-calc(5);
        font-size: 20px;
    }
    .panel-close {
        width: rem-calc(40);
        height: rem-calc(40);
        padding: rem-calc(10);
        line-height: rem-calc(20);
        text-align: center;
        font-weight: 800;
    }
}
.legend-indicator {
    text-indent: -99999px;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 3px 0;
    overflow: hidden;
    text-align: left;
}
.datalist {
    margin: 0;
    background: $color-toolbar-dark;
    padding: 0;

    ul, li {
        margin: 0;
        padding: 0;
    }
    .record-list {
        position: relative;

        &:after {
            border-bottom: 1px solid $color-toolbar-edge;
            content: ' ';
            position: absolute;
            top: 0;
            left: 10px;
            margin: 0;
            right: 10px;
        }
    }
    .entry {
        font-size: rem-calc(11);
        padding: 0 rem-calc(15);
        cursor: pointer;
        position: relative;
        overflow: hidden;

        &:after {
            border-bottom: 1px solid $color-toolbar-edge;
            content: ' ';
            position: absolute;
            bottom: 0;
            left: 10px;
            margin: 0;
            right: 10px;
        }
        &:hover {
            background-color: $color-toolbar-button;
        }
        li {
            display: none;
            line-height: rem-calc(12);
            padding: rem-calc(10) 0;

            &.primary {
                display: block;
                clear: both;

                .filtered-highlight {
                    float: right;
                    color: $color-highlight;
                }
            }
            .filtered-highlight, .field-key, .field-value {
                font-size: rem-calc(12);
                display: inline;
                line-height: rem-calc(16);
                vertical-align: top;
            }
            .field-key {
                font-weight: bold;
            }
            .field-value {
                float: right;

                &.field-value-name {
                    float: none;
                    font-size: rem-calc(14);
                }
            }
        }

        &.active {
            margin: -1px 0 0;
            border-top: 1px solid $color-toolbar-edge;
            background-color: $color-toolbar-button;
            padding: rem-calc(15) rem-calc(38) rem-calc(40);

            li {
                display: block;
                color: $color-white;
                border-bottom: 1px solid #666;
                overflow: hidden;
            }
            .filtered-highlight {
                display: none;
            }
            .legend-indicator {
                position: absolute;
                top: 44px;
                left: 15px;
            }
            .primary {
                font-weight: 700;
                margin: 15px 0;
            }
        }
    }
}
.select2-container .select2-choice > .select2-chosen {
    overflow: visible;
    width: 100%;
}
.ui-select-choices-row, .select2-chosen {
    img {
        float: left;
        height: 20px;
        width: 20px;
        margin: 2px 8px 2px 0;
    }
}
.select2-chosen {
    > * {
        color: $color-white;
        display: block;
        margin-right: 40px;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: break-word;
    }
    img {
        height: 28px;
        width: 28px;
        margin: 6px 6px 6px -6px;
    }
}
.select2-container.select2-allowclear .select2-choice abbr {
    margin: 0 20px 0 0;
    width: 20px;
    height: 20px;

    &:after {
        content: 'x';
        line-height: 22px;
        font-size: 16px;
        color: $color-light-grey;
        position: absolute;
        top: 0;
        right: 0;
    }
    &:hover:after {
        color: $color-white;

    }
}
.select2-drop .select2-results {
    max-height: rem-calc(500);

    .select2-result-label {
        padding: rem-cal(2) rem-cal(6);
        font-size: rem-cal(12);
    }
}
.filters {
    padding: rem-calc(10) rem-calc(10) 0;

    label {
        color: $color-white;
    }
    input {
        width: 100%;
        margin: 0 0 5px;
    }
    .select {
        margin: 10px 0;
    }
    .select2-container {
        display: block;
    }
    .sorting {
        position: relative;
    }
    .sort-field {
        margin-right: 41px;

        .selected-sort-field {
            color: $color-highlight;
        }
    }
    .sort-order {
        width: rem-calc(40);
        height: rem-calc(40);
        text-indent: -99999px;
        background-color: $color-toolbar-button;
        margin-left: 1px;
        position: absolute;
        top: 0;
        right: 0;

        a {
            display: block;
            width: rem-calc(40);
            height: rem-calc(40);
            position: relative;
            text-indent: -99999px;

            &:after {
                @include fa-icon();
                color: $color-light-grey;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                font-size: 20px;
                line-height: 40px;
                text-align: center;
                text-indent: 0;
            }
            &.ascending:after {
                content: $fa-var-angle-double-up;
            }
            &.descending:after {
                content: $fa-var-angle-double-down;
            }
            &:hover {
                &:after {
                    color: $color-white;
                }
            }
            &.disabled {
                &:after {
                    color: $color-black;
                }
            }
        }
    }
}
.project-filters {
    background-color: $color-toolbar-dark;
    border-left: 2px solid $color-black;
    padding: rem-calc(5) rem-calc(10);

    h2 {
        margin: rem-calc(3) 0 rem-calc(15);
        line-height: 1rem;
    }
}
.visualisation-selector {
    top: 0;
    left: 0;
    background-color: $color-toolbar-dark;
    border-top: 1px solid $color-toolbar-edge;
    border-bottom: 1px solid $color-black;
    overflow: hidden;

    .visualisation-selector-label {
        margin: 0;
        padding: rem-calc(10) rem-calc(15);
        height: rem-calc(45);
        line-height: rem-calc(25);
    }
    ul, li {
        margin: 0;
        padding: 0;
        list-style-type: none;
        overflow: hidden;
    }
    li {
        margin: 0 rem-calc(10);

        a {
            height: 100%;
            width: 100%;
            line-height: rem-calc(40);
            opacity: 0.3;
            transition-property: opacity;
            transition-duration: 0.2s;

            &.active {
                opacity: 1;
            }
            img {
                margin: 10px auto;
                height: 25px;
                display: block;

                path {
                    stroke: $color-white;
                    fill: $color-white;
                }
            }
        }
    }
}

// Loading wheel mixin
@mixin loading-wheel($text) {
    $loading-icon-size: 40;
    position: relative;

    > * {
        -moz-opacity: 0;
        -webkit-opacity: 0;
        opacity: 0;
    }
    &:before, &:after {
        animation-duration: 0.3s;
        animation-fill-mode: both;
        -moz-opacity: 1;
        -webkit-opacity: 1;
        opacity: 1;
    }
    &:before {

        @include fa-icon();
        content: $fa-var-cog;
        -webkit-animation: fa-spin 3s infinite linear;
        animation: fa-spin 3s infinite linear;
        -webkit-transform-origin: rem-calc($loading-icon-size / 2);
        transform-origin: rem-calc($loading-icon-size / 2);
        display: block;
        width: rem-calc($loading-icon-size);
        height: rem-calc($loading-icon-size);
        font-size: rem-calc($loading-icon-size);
        line-height: rem-calc($loading-icon-size);
        text-align: center;
        margin-left: rem-calc(-$loading-icon-size / 2);
        margin-top: rem-calc(-$loading-icon-size / 2);
        position: absolute;
        padding: 0;
        top: 50%;
        left: 50%;
        z-index: 9;
    }
    &:after {
        content: $text;
        font-size: rem-calc(18);
        line-height: rem-calc(24);
        font-weight: 500;
        display: block;
        width: rem-calc(100);
        height: rem-calc(100);
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        vertical-align: middle;
        color: #ffffff;
        opacity: 1;
        margin-top: rem-calc($loading-icon-size / 2);
        padding-top: rem-calc(5);
        margin-left: -50px;
        animation-name: fadeIn;
        z-index: 10;
    }
}


// Global app loading states.
body {
    .visualisation .loading {
        @include loading-wheel('Loading');
    }
    &.loading {
        &.home,
        &.project{
            #root-container {
                @include loading-wheel('Loading');
            }
        }
        &.project {
            #root-container {
                @include loading-wheel('Loading');
            }
        }
        &.section {
            #section-container {
                @include loading-wheel('Loading');
            }
        }
        &.phase {
            #content-container {
                @include loading-wheel('Loading');
            }
        }
    }
    &.loaded {
        &.project, &.home {
            #root-container {
                &:before, &:after {
                    animation-name: fadeOut;
                }
            }
        }
        &.section {
            #section-container {
                &:before, &:after {
                    animation-name: fadeOut;
                }
            }
        }
        &.phase {
            #content-container {
                &:before, &:after {
                    animation-name: fadeOut;
                }
            }
        }
        &.section-visualisation, &.phase-visualisation {
            #visualisation-container {
                &:before, &:after {
                    animation-name: fadeOut;
                }
            }
        }
    }
}

.info-panel {
    background-color: $color-toolbar-light;
    line-height: 1.3rem;
    color: $color-white;

    .panel-toolbar h2 {
        margin-right: rem-calc(40);
        border-bottom: 1px solid $color-toolbar-edge;
    }
    h1, h2, h3, h4, p, a {
        color: $color-white;
    }
    h1, h2, h3, h4 {
        font-weight: 500;
    }
    img {
        margin: rem-calc(10) 0 rem-calc(20);
    }
}

.panel-header {
    padding: rem-calc(10);

    .panel-title {
        font-size: rem-calc(20);
        margin: 0;
        padding: 0;
    }
    .panel-icon {
        font-size: rem-calc(24);
        color: $color-white;
        width: rem-calc(32);
        text-align: center;
        margin: 0;
        padding: 0;
        position: relative;
        border-bottom: 1px solid $color-dark-red;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 100%;
            border-bottom: 1px solid $color-dark-red;
        }
    }
}
.panel-content {
    padding: rem-calc(20) rem-calc(40);
}
.info-panel {
    .panel-icon {
        padding: rem-calc(10);
    }
}
.project-title-bar {
    background-color: $color-toolbar-light;
    border-bottom: 3px solid $color-black;
    width: 100%;

    .project-title {
        float: left;
        font-weight: 300;
        font-size: rem-calc(21);
        line-height: rem-calc(28);
        padding: rem-calc(16) rem-calc(16) 0;
        color: $color-white;
        margin: 0;
        cursor: pointer;

        .project-thumbnail {
            width: rem-calc(30);
            min-width: rem-calc(30);
            height: rem-calc(30);
            border: rem-calc(4) solid $color-light-grey;
            margin-right: rem-calc(10);
            float: left;
        }
        &:hover .project-thumbnail {
            border-color: $color-white;
        }
        .fa-info-circle {
            color: $color-dark-grey;
            font-size: rem-calc(13);
            vertical-align: middle;
            position: relative;
            top: -2px;
        }
    }
    .project-control {
        display: block;
        height: rem-calc(20);
        width: rem-calc(20);
        line-height: rem-calc(20);
        padding: rem-calc(20);
        box-sizing: content-box;
        text-align: center;
        font-size: 20px;
        border: 1px solid #333437;
        background-color: $color-toolbar-button;
    }
    .project-exit {
        font-weight: 100;
        font-size: rem-calc(20);
        width: rem-calc(60);
        padding-left: rem-calc(10);
        padding-right: 0;
        background-color: transparent;
        border-color: transparent;
        float: left;

        i {
            margin-right: 5px;
        }
    }
}
.project-modal {
    display: none;
}
.mfp-content > * {
    margin: 0 auto;
}
.modal-overlay {
    background-color: rgba(0, 0, 0, 0.85);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
}
.modal {
    background-color: $color-toolbar-light;
    box-shadow: 0 1px 2px black;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    position: relative;
    overflow: hidden;
    border: 1px solid $color-toolbar-edge;

    .image-wrapper {
        overflow: hidden;
        position: absolute;
        top: -52%;
        left: -52%;
        width: 204%;
        height: 204%;
        background-color: #000;

        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: auto;
            min-width: 52%;
            min-height: 52%;
            -webkit-filter: blur(5px);
            -moz-filter: blur(5px);
            -o-filter: blur(5px);
            -ms-filter: blur(5px);
            filter: blur(5px);
            -webkit-opacity: 0.4;
            -moz-opacity: 0.4;
            -o-opacity: 0.4;
            -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
            opacity: 0.4;
        }
    }
    .modal-content {
        position: relative;
        text-shadow: 0 0 3px #000;
    }
    h1 {
        margin: rem-calc(4) 0 rem-calc(4);
    }
    .description {
        margin: rem-calc(6) 0 rem-calc(4);
    }
    .info-link {
        margin: rem-calc(10) 0 rem-calc(4);
        display: inline-block;
    }
    .copyright-message {
        color: $color-dark-grey;
        margin: rem-calc(16) 0 0;
        font-size: rem-calc(10);
    }
    .close-button {
        color: $color-light-grey;

        &:hover {
            color: $color-white;
        }
    }
}
.notification {
    padding: 0.8rem 1rem;
    box-shadow: 0 1px 2px $color-black;
    background-color: $color-white;
    color: $color-black;

    h1 {
        font-size: rem-calc(20);
    }
    p {
        font-size: rem-calc(14);
    }
    .close-button {
        color: $color-toolbar-dark;
        font-size: rem-calc(20);

        &:hover {
            color: $color-light-grey;
        }
    }
    &.error {
        h1 {
            color: $color-dark-red;
        }
    }
}

.legend-wrapper {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}

#legend {
    $legendColumnCount: 1;
    color: white;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: rem-calc(10);
    z-index: 1001;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    height: 100%;

    ul {
        margin: 0;
        margin-bottom: rem-calc(30);
        @if $legendColumnCount > 1 {
            -webkit-column-count: $legendColumnCount; /* Chrome, Safari, Opera */
            -moz-column-count: $legendColumnCount; /* Firefox */
            column-count: $legendColumnCount;
        }
    }

    li {
        width: 20em;
        display: inline-block;
        margin: 0;
        padding: 0;
        font-size: rem-calc(12);

        svg {
            display: inline-block;
            vertical-align: middle;
        }
    }
}

.legend-button {
    background: #f26262;
    border: none;
    padding: 1%;
    color: #fff;
    position: absolute;
    font-size: rem-calc(12);
    z-index: 1002;
    height: rem-calc(30);
    width: rem-calc(120);
    bottom: 0;

    &:hover {
        background: #f26262;
    }

    &:focus {
        outline: none;
        background: #CF5050;
    }
}

::-webkit-scrollbar {
    display: none;
}
* {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}