<div id="content-container" class="grid-block">

    <!-- Main content (chart) panel -->
    <div class="small-12 medium-8 large-8 grid-block">
        <div ui-view="visualisation" class="grid-block vertical">
            <crf-visualisation ng-if="content.ijs_url" url="{{content.ijs_url}}"></crf-visualisation>
        </div>
        <div class="ijs-urls visualisation-selector" ng-if="content.ijs_urls">
            <h3>Select a visualisation</h3>
            <ul>
                <li ng-repeat="(key, value) in content.ijs_urls">
                    <a ui-sref="section.visualisation({ visualisationType: key })" ng-bind="key">Charts</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Cassandra panel -->
    <div zf-panel ng-if="content.cassandraheadline" position="right" id="cassandra" class="fast slideInOut medium-4 large-4 medium-grid-block large-grid-block vertical">
        <div class="grid-content cassandra">
            <h2 ng-bind="content.cassandraheadline">Headline</h2>
            <img ng-if="content.cassandraimageid" ng-src="contant.cassandraimageid" alt=""/>
            <h3 ng-bind="content.cassandrasubtitle">Subtitle</h3>
            <div ng-bind-html="content.cassandrabody"></div>
        </div>
    </div>

</div>