<div class="dark title-bar">
    <div class="left title"><a ui-sref="home">Cambridge Risk Framework</a></div>
    <a class="right" href="#" title="My notification" content="Notification example" color="success" autoclose="3000" zf-notify="main-notifications">Dynamic Notification</a>
</div>
<div class="grid-block">
    <nav class="grid-content project-navigation" ng-if="projects.length > 0">
        <ul class="grid-block small-up-2 medium-up-4 large-up-6">
            <li ng-repeat="project in projects" class="grid-content">
                <a class="card project-link" ui-sref="project({ projectId: project.id })">
                    <img src="http://placehold.it/400x200">
                    <div class="card-divider" ng-bind="project.name">Project title</div>
                    <div class="card-section" ng-bind="project.description">Project description</div>
                </a>
            </li>
        </ul>
    </nav>
</div>
