<div class="title-bar">
    <div class="left title"><a ui-sref="home">Cambridge Risk Framework</a></div>
</div>
<div class="grid-block" ng-if="projects.length > 0">
    <div class="small-12 medium-8 large-10 grid-block">
        <nav class="grid-content project-navigation" >
            <ul class="grid-block small-up-1 medium-up-2 large-up-3">
                <li ng-repeat="project in projects | filter:searchText" class="grid-content">
                    <a class="project-link" ui-sref="project({ projectId: project.id })">
                        <img class="project-thumbnail" ng-src="{{project.thumbnail_image}}">
                        <h2 ng-bind="project.name">Project title</h2>
                        <p ng-bind="project.description">Project description</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div id="project-filters" class="hide-for-small show-for-medium medium-4 large-2 grid-block">
        <div class="grid-content filters">
            <div class="content">
                <h3>Filter projects</h3>
                <label for="keyword-filter">Filter by keywords</label>
                <input id="keyword-filter" ng-model="searchText" placeholder="Enter keywords">
            </div>
        </div>
    </div>
</div>