<div class="grid-block shrink">
    <div class="project-title-bar">
        <a class="project-control project-fullscreen right-align" ng-click="goFullscreen()">
            <i ng-show="!fullscreen" class="fa fa-expand"></i>
            <i ng-show="fullscreen" class="fa fa-compress"></i>
        </a>
        <a class="info-modal-toggle right-align" ng-click="aboutApp()">
            <img src="/assets/img/crs-logo.png" alt="University of Cambridge Judge Business School Centre for Risk Studies"/>
        </a>
        <div class="project-title">
            <h1>Cambridge Risk Framework</h1>
        </div>
    </div>
</div>
<div class="grid-block" ng-if="projects.length > 0">
    <div class="small-12 medium-8 large-9 grid-block">
        <nav class="grid-content project-navigation" >
            <ul class="grid-block project-list small-up-1 medium-up-2 large-up-3">
                <li ng-repeat="project in projects | filter:filters:strict" class="grid-content project-tile">
                    <a class="project-link" ui-sref="project({ projectId: project.id })">
                        <img class="project-thumbnail" ng-if="project.image" ng-src="{{project.image}}">
                        <img class="project-thumbnail" ng-if="!project.image" src="http://placehold.it/640x360">
                        <h2 ng-bind="project.name">Project title</h2>
                        <p ng-bind="project.description">Project description</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div id="project-filters" class="hide-for-small show-for-medium medium-4 large-3 grid-block">
        <crs-project-filters filters="filters"></crs-project-filters>
    </div>
</div>