<div>
    <section class="block-list">
        <header>Activity Feed</header>
        <ul>
            <li><a href="#"><h6>Jon Snow</h6>Just Listened to Death Metal</a></li>
            <li><a href="#"><h6>Hodor</h6>Just Listened to Hit Me Baby One More Time</a></li>
            <li><a href="#"><h6>Arya Stark</h6>Just Liked Taylor Swift</a></li>
            <li><a href="#"><h6>Jon Snow</h6>Just Listened to Death Metal</a></li>
            <li><a href="#"><h6>Hodor</h6>Just Listened to Hit Me Baby One More Time</a></li>
            <li><a href="#"><h6>Arya Stark</h6>Just Liked Taylor Swift</a></li>
            <li><a href="#"><h6>Jon Snow</h6>Just Listened to Death Metal</a></li>
            <li><a href="#"><h6>Hodor</h6>Just Listened to Hit Me Baby One More Time</a></li>
            <li><a href="#"><h6>Arya Stark</h6>Just Liked Taylor Swift</a></li>
            <li><a href="#"><h6>Jon Snow</h6>Just Listened to Death Metal</a></li>
            <li><a href="#"><h6>Hodor</h6>Just Listened to Hit Me Baby One More Time</a></li>
            <li><a href="#"><h6>Arya Stark</h6>Just Liked Taylor Swift</a></li>
        </ul>
    </section>
</div>