<div class="title-bar">
    <div class="left title"><a ui-sref="home" ng-bind="project.name">Cambridge Risk Assessment</a></div>
</div>
<nav class="grid-block section-navigation shrink" ng-if="project.sections.length > 0">
    <ul class="grid-content">
        <li ng-repeat="section in project.sections">
            <a ui-sref="project.section({ sectionNumber: section.sectionnumber })" ui-sref-active="active" ng-bind="section.title">Section title</a>
        </li>
    </ul>
</nav>
<div id="section-container" class="grid-block vertical">
    <div ui-view="content" class="grid-block vertical">
        <div class="grid-content">
            <h2 ng-bind="content.name"></h2>
            <h2 ng-bind="content.title"></h2>
            <h3 ng-bind="content.subtitle"></h3>
            <p ng-bind="content.thumbnail_image"></p>
            <p ng-bind="content.description"></p>
            <p ng-bind="content.ijs_url"></p>
        </div>
    </div>
    <nav ui-view="phase-navigation" class="grid-block shrink"></nav>
</div>