<div class="grid-block shrink project-title-bar">
    <div class="grid-block wrap">
        <div class="grid-block shrink project-title">
            <img class="project-thumbnail" ng-src="{{project.thumbnail_image}}" width="30" height="30" alt="Thumbnail image"/>
            <h1 ng-bind="project.name">Project Name</h1>
        </div>
        <crs-section-navigation ng-if="project.sections && project.sections.length > 1" sections="project.sections"></crs-section-navigation>
    </div>
    <div class="grid-block shrink"><a class="project-exit" ui-sref="home">&#x2715;</a><a class="project-exit" ui-sref="home">&#x2715;</a></div>
</div>

<div id="section-container" class="grid-block vertical">
    <div ui-view="content" class="grid-block vertical">
        <div class="grid-content">
            <h2 ng-bind="content.name"></h2>
            <h2 ng-bind="content.title"></h2>
            <h3 ng-bind="content.subtitle"></h3>
            <p ng-bind="content.thumbnail_image"></p>
            <p ng-bind="content.description"></p>
            <p ng-bind="content.ijs_url"></p>
        </div>
    </div>
</div>