<div>
    <div class="grid-content">
        <ul class="icon-left vertical menu-bar">
            <li><a href="#"><img zf-iconic="" data-src="/assets/img/iconic/ban.svg"> Songs</a></li>
            <li><a href="#"><img zf-iconic="" data-src="/assets/img/iconic/ban.svg"> Albums</a></li>
            <li><a href="#"><img zf-iconic="" data-src="/assets/img/iconic/ban.svg"> Artists</a></li>
        </ul>
    </div>
    <div class="grid-content shrink now-playing">
        <h5>Now Playing</h5>
        <img src="http://placehold.it/350&text=Album">
        <p>Shake it off by Taylor Swift</p>
    </div>
</div>