<div class="grid-block vertical">
    <!--<div class="grid-block shrink visualisation-selector" ng-if="visualisations.length > 1">-->
        <!--<h4 class="grid-block shrink visualisation-selector-label">Visualisations:</h4>-->
        <!--<ul class="grid-block">-->
            <!--<li ng-repeat="visualisation in visualisations" class="grid-block shrink">-->
                <!--&lt;!&ndash;<a ui-sref="section.visualisation({ visualisationType: key })">&ndash;&gt;-->
                <!--<a ng-click="toggleVisualisation(visualisation, visualisations)" ng-class="{active: visualisation.active}">-->
                    <!--<img ng-src="{{'/assets/img/' + visualisation.visualisationType + '.svg'}}" ng-alt="{{visualisation.visualisationType}}" ng-title="visualisation.visualisationType"/>-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
    <div class="grid-block visualisation-grid {{'visualisation-grid-' + visualisationStatus.count}}" ng-class="{multiple: visualisationStatus.count > 1}">
        <crs-visualisation ng-repeat="visualisation in visualisations"
                           visualisation-active="visualisation.active"
                           visualisation-url="visualisation.visualisationUrl"
                           visualisation-type="visualisation.visualisationType"
                           visualisation-status="visualisationStatus">
        </crs-visualisation>
    </div>
</div>